body,
html {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans, sans-serif;
}
a,
p,
span,
h1,
h2,
h3,
label,
input,
textarea,
button {
  font-family: Nunito Sans, sans-serif;
}
#map {
  height: 500px;
}
#tweet {
  height: 500px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav {
  min-height: 20rem;
  background: #000000 url(../images/meat-header-crop.jpg) no-repeat 0 50%;
  background-size: cover;
}
nav .mobile-menu {
  display: none;
  background-color: #000;
  opacity: 0.8;
}
nav .fa-bars {
  font-size: 2rem;
  color: #fff;
  padding-right: 1rem;
}
nav ul {
  background-color: #000;
  opacity: 0.8;
}
nav ul a {
  transition: all .3s;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: .5rem 0;
}
nav ul a:hover {
  opacity: .7;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  nav .desktop-menu {
    display: none;
  }
  nav .mobile-menu {
    display: block;
  }
  nav .mobile-menu .language-selector a {
    font-size: 2rem;
  }
  nav .mobile-menu .menu-items {
    display: none;
  }
  nav .mobile-menu .menu-items.activated {
    display: block;
  }
  nav span {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
  }
}
.body-section > .container {
  box-shadow: 1px 1px 5px #ccc;
}
.body-section .promo-section {
  background-color: #fff;
  margin-top: -5rem;
}
.body-section .promo-section h1,
.body-section .promo-section h2,
.body-section .promo-section p {
  text-align: center;
}
.body-section .image-secion h3 {
  text-align: center;
}
.body-section .image-secion p {
  text-align: center;
}
.body-section .image-secion .img {
  width: 100%;
  height: 25rem;
  border: 1px solid #eee;
}
footer .image-holder {
  min-height: 20rem;
  background: #000 url(../images/meat-footer-crop.jpg) no-repeat 0 50%;
  background-size: cover;
}
footer .container {
  margin-top: -3rem;
}
footer .container p {
  margin-bottom: 0;
  padding: .5rem;
  background-color: #000;
  opacity: 0.8;
  text-align: center;
  color: #fff;
}
#tweets {
  margin-top: 2rem;
  list-style: none;
}
#tweets li {
  background: #fff;
  border-bottom: 1px solid #e1e8ed;
  padding: .5rem;
}
#tweets li .tweet-screen-name {
  color: #8899a6;
  margin-bottom: 0;
}
#tweets li .tweet-user-name {
  margin-top: .3rem;
}
#tweets li:hover {
  background-color: #f5f8fa;
}
#tweets li img {
  float: left;
  padding-right: .5rem;
}
#tweets li a {
  color: #292f33;
  text-decoration: none;
}
.icons-section {
  padding: 5rem 0;
}
.icons-section a {
  text-align: center;
  display: block;
  padding: 2rem 0;
}
.icons-section .fa {
  font-size: 4rem;
  background-color: #000;
  color: #fff;
  line-height: 10rem;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.container.form-section {
  background-color: #ccc;
  padding: 10rem;
  position: relative;
  bottom: -5rem;
}
.language-selector a {
  transition: all .3s;
  cursor: pointer;
  color: #fff;
  padding-left: 1rem;
  text-transform: uppercase;
}
.language-selector a.active {
  font-weight: bold;
}
.language-selector a:hover {
  opacity: .7;
  color: #fff;
  text-decoration: none;
}
